$responsive-tabs__breakpoint: 768px !default;

$responsive-tabs__title-padding: 20px 25px !default;
$responsive-tabs__title-color: #fff !default;
$responsive-tabs__title-color-hover: #fff !default;
$responsive-tabs__title-color-active: $responsive-tabs__title-color !default;
$responsive-tabs__title-font-size: 24 !default;
$responsive-tabs__title-font-weight: normal !default;
$responsive-tabs__title-background: #000 !default;
$responsive-tabs__title-background-hover: lighten($responsive-tabs__title-background, 30) !default;
$responsive-tabs__title-background-active: $responsive-tabs__title-background !default;

$responsive-tabs__tab-padding: 20px 25px !default;
$responsive-tabs__tab-color: #fff !default;
$responsive-tabs__tab-color-hover: #000 !default;
$responsive-tabs__tab-color-active: $responsive-tabs__tab-color-hover !default;
$responsive-tabs__tab-font-size: 16 !default;
$responsive-tabs__tab-font-weight: normal !default;
$responsive-tabs__tab-line-color: #000 !default;
$responsive-tabs__tab-line-size: 2px !default;
$responsive-tabs__tab-background: #000 !default;
$responsive-tabs__tab-background-hover: #fff !default;
$responsive-tabs__tab-background-active: $responsive-tabs__tab-background-hover !default;

$responsive-tabs__content-inner-padding-accordion: 35px 20px !default;
$responsive-tabs__content-inner-padding-tabs: 60px 0 0 !default;

// scss-lint:disable SelectorFormat
// scss-lint:disable QualifyingElement
// scss-lint:disable ImportantRule

.responsive-tabs {
	margin-top: 40px;
}

.responsive-tabs__item {
	padding-bottom: 4px;

	&:last-child {
		padding-bottom: 0;
	}

	@media (min-width: $responsive-tabs__breakpoint) {
		padding-bottom: 0;
	}
}

.responsive-tabs__title {
	display: block;
	padding: $responsive-tabs__title-padding;
	margin-bottom: 0;
	line-height: 1;
	font-size: pixel($responsive-tabs__title-font-size);
	font-weight: $responsive-tabs__title-font-weight;
	color: $responsive-tabs__title-color;
	position: relative;
	background-color: $responsive-tabs__title-background;
	cursor: pointer;
	transition: color 0.4s ease, background-color 0.4s ease;

	@media (min-width: $responsive-tabs__breakpoint) {
		display: none;
	}

	span.neos-inline-editable {
		display: block;
	}

	&:hover {
		color: $responsive-tabs__title-color-hover;
		background-color: $responsive-tabs__title-background-hover;
	}

	&:focus {
		color: $responsive-tabs__title-color;
	}

	&::after,
	&::before {
		content: '';
		border-radius: 2px;
		display: block;
		width: 25px;
		height: 3px;
		position: absolute;
		top: 50%;
		right: 25px;
		transition: .3s;
		transform: translateY(-50%) translateZ(1px);
		background: $responsive-tabs__title-color;
	}

	&::after {
		transform: translateY(-50%) translateZ(1px) rotate(90deg);
	}

	.responsive-tabs__item-active & {
		color: $responsive-tabs__title-color-active;
		background-color: $responsive-tabs__title-background-active;

		&::before {
			transform: translateY(-50%) translateZ(1px) rotate(180deg);
		}

		&::after {
			transform: translateY(-50%) translateZ(1px) rotate(-180deg);
		}
	}

	.responsive-tabs__neos-backend & {
		display: block;
	}
}

.responsive-tabs__item-closed-accordion-only .responsive-tabs__content {
	@media (min-width: $responsive-tabs__breakpoint) {
		display: block;
		max-height: inherit;
	}
}

.responsive-tabs__content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease;

	@media (min-width: $responsive-tabs__breakpoint) {
		max-height: inherit !important;
		display: none;
	}

	.responsive-tabs__neos-backend & {
		max-height: inherit;
		display: block;
	}

	.responsive-tabs__item-active & {
		@media (min-width: $responsive-tabs__breakpoint) {
			display: block;
		}
	}
}

.responsive-tabs__content-inner {
	padding: $responsive-tabs__content-inner-padding-accordion;

	@media (min-width: $responsive-tabs__breakpoint) {
		padding: $responsive-tabs__content-inner-padding-tabs;
	}
}

// Tabs
.responsive-tabs__tablist {
	margin: 0;
	list-style: none;
	display: none;
	width: 100%;
	position: relative;

	border-left: $responsive-tabs__tab-line-size solid $responsive-tabs__tab-background;
	border-right: $responsive-tabs__tab-line-size solid $responsive-tabs__tab-background;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: $responsive-tabs__tab-line-size;
		background-color: $responsive-tabs__tab-background;
		top: 0;
		left: 0;
		z-index: 1;
	}

	@media (min-width: $responsive-tabs__breakpoint) {
		display: flex;
		flex-shrink: 0;
		flex-wrap: wrap;
		border-bottom: $responsive-tabs__tab-line-size solid $responsive-tabs__tab-line-color;
		width: 100%;
	}
}

.responsive-tabs__tab {
	margin-bottom: -$responsive-tabs__tab-line-size;
	padding: $responsive-tabs__tab-padding;

	font-size: pixel($responsive-tabs__tab-font-size);
	font-weight: $responsive-tabs__tab-font-weight;
	line-height: 1;
	color: $responsive-tabs__tab-color;
	text-align: center;
	background-color: $responsive-tabs__tab-background;

	position: relative;
	cursor: pointer;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	flex-grow: 1;
	flex-basis: 0;
	min-width: 1%;
	transition: color 0.4s ease, background-color 0.4s ease;

	+ .responsive-tabs__tab {
		&::before {
			content: '';
			position: absolute;
			width: $responsive-tabs__tab-line-size;
			height: 100%;
			background-color: $responsive-tabs__tab-background-active;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}

	&:hover {
		color: $responsive-tabs__tab-color-hover;
		background-color: $responsive-tabs__tab-background-hover;

		&,
		+ .responsive-tabs__tab {
			&::before {
				z-index: 0;
			}
		}
	}

	&:focus {
		color: $responsive-tabs__tab-color;
	}

	&.responsive-tabs__tab-active {
		background-color: $responsive-tabs__tab-background-active;
		color: $responsive-tabs__tab-color-active;

		&,
		+ .responsive-tabs__tab {
			&::before {
				z-index: 0;
			}
		}
	}
}

.responsive-tabs__neos-plugin-title {
	cursor: pointer;
	padding: 10px 25px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	background: repeating-linear-gradient(
			45deg,
			#606dbc,
			#606dbc 10px,
			#465298 10px,
			#465298 20px
	);
}
