{namespace neos=TYPO3\Neos\ViewHelpers}
<f:if condition="{count}">
	<f:then>
		<f:render section="TabContainer" arguments="{_all}" />
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inBackend()}">
			<p style="background:#d9534f;color:#fff;border:1px solid #d43f3a;padding: 10% 12px;text-align:center;cursor:pointer;font-size:20px;"><f:translate package="Dotpulse.ResponsiveTabs" id="noTabs" /></p>
			<f:render section="TabContainer" arguments="{_all}" />
		</f:if>
	</f:else>
</f:if>

<f:section name="TabContainer">
	<div{attributes -> f:format.raw()}>
		{tabs -> f:format.raw()}
	</div>
</f:section>
